/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */


body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}
*{
	padding:0px;
	margin:0px;
}

header{
background-color: black;
position: fixed;
width: 100%;
}

.banner{
	height: 130px;
	}

.banner h1{
		font-size: 48px;
		letter-spacing: 5px;
		color: white;
		text-align: center;
		padding:10px;
		font-family:"Beau Sans Pro Book", Verdana, sans-serif;
		}

.banner p{
				font-size: 24px;
				letter-spacing: 5px;
				color: white;
				text-align: center;
				padding:10px;
				font-family:"Beau Sans Pro Book", Verdana, sans-serif;
}


p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight:200;
	}


h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-weight:700;
	font-style:normal;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
	margin-top:30px;
}

#nav li{
	margin: 0 0 15px 0;
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(images/firstBG.jpg) 60% 0 no-repeat fixed;
	background-size: cover;
	color: black;
	height:900px;
	margin: 0;
	padding: 10px;

}

#second{
	background: url(images/secondBG.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#third{
	background: url(images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 700px;
	background-size: cover;
}

.story{
	padding:70px;
	margin-left:200px;
	margin-top:50px;
	width: 100%;


}
.story p{
	text-align: justify;
	font-size: 18px;
	color:white;
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
		background:rgb(0,0,0,0.3);
}

.story h2{
	padding:30px;
	text-align: center;
	color:white;
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	}


.halaman_atas p,h2{
 text-align: center;
 padding : 20px;
 letter-spacing: 1.5px;
 margin-left:580px;
 width: 100%;


l}
.halaman_atas img{
	border-radius: 100%;
	padding-top:20px;
	height: 300px;
	width: 300px;
	display: block;
	margin-top:20px;
	margin-left:630px;

}
.story {
	padding: 80px 0 0 0;
	position: relative;
	width: 350px;
}

.section-box {
		padding: 10px;
		width: 100%;
		height: 200px;
		margin: 20px auto;
		border: 1px solid #bbb;
		float:left;
}

.contact{
padding:10px;
height: 300px;
width: 100%;
}


.contact h1{
	color: white;
	text-align: center;
	margin-top: 100px;
	width: 97%;
}

.contact img{
	width: 100px;
	margin-left:900px;
	float:left;
}

.contact a{
	padding:3px;
	margin-left: 250px;
}

.medsos{

}

footer{
	width: 100%;
	background-color: black;
	bottom: 10px;
	padding: 10px;
	float:right;
}

footer h3{
	color:white;
	margin-right: 80px;
	text-align: center;
}
