body{
	min-width: 980px;

}

*{
	padding:0px;
	margin:0px;
}

header{
background-color: black;
position: fixed;
width: 100%;
}

.banner{
	height: 130px;
	}

.banner h1{
		font-size: 48px;
		letter-spacing: 5px;
		color: white;
		text-align: center;
		padding:10px;
		font-family:"Beau Sans Pro Book", Verdana, sans-serif;
		}

.banner p{
				font-size: 24px;
				letter-spacing: 5px;
				color: white;
				text-align: center;
				padding:10px;
				font-family:"Beau Sans Pro Book", Verdana, sans-serif;
}


h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-weight:700;
	font-style:normal;
	rgb(0, 0, 0);
	color: rgb(51, 50, 50);
	text-shadow: 0px -1px 2px
	rgb(255, 255, 0),
	0px -3px 3px rgb(255, 204, 0),
	-2px -5px 4px rgb(255, 153, 0),
	2px -7px 5px rgb(255, 102, 0),
	4px -9px 6px rgb(255, 51, 0),
	3px -11px 7px rgb(255, 0, 0);
	letter-spacing: 5px;
}

#nav{
	position: fixed;
	right: 30px;
	margin-top:30px;

}

#nav li{
	margin: 3px;
	padding:20px;
	display: inline-block;
	}

	#nav h3{
		color:white;
		font-size: 24px;
		}

	#nav a{
		text-decoration: none;
	}

#intro{
	background:url(images/firstBG.jpg) 60% 0 no-repeat fixed;
	background-size: cover;
	color: black;
	height:900px;
	margin: 0;
	padding: 10px;

}

#second{
	background: url(images/secondBG.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#third{
	background: url(images/thirdBG.jpg) 60% 0 no-repeat fixed;
	color: white;
	height: 700px;
	background-size: cover;
}

.story{
	padding:70px;
	margin-left:200px;
	margin-top:50px;
	width: 80%;
	}

.story p{
	text-align: justify;
	font-size: 18px;
	color:white;
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	background:rgb(0,0,0,0.3);
}

.story h2{
	padding:30px;
	text-align: center;
	color:white;
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	color: rgb(51, 50, 50);
	text-shadow: 0px -1px 2px
	rgb(255, 255, 0),
	0px -3px 3px rgb(255, 204, 0),
	-2px -5px 4px rgb(255, 153, 0),
	2px -7px 5px rgb(255, 102, 0),
	4px -9px 6px rgb(255, 51, 0),
	3px -11px 7px rgb(255, 0, 0);
	}

	.halaman_atas h2{
	color: rgb(51, 50, 50);
	text-shadow: 0px -1px 2px
	rgb(255, 255, 0),
	0px -3px 3px rgb(255, 204, 0),
	-2px -5px 4px rgb(255, 153, 0),
	2px -7px 5px rgb(255, 102, 0),
	4px -9px 6px rgb(255, 51, 0),
	3px -11px 7px rgb(255, 0, 0);
}
.halaman_atas p,h2{
 text-align: center;
 padding : 20px;
 letter-spacing: 1.5px;
 margin-left:372px;
 width: 100%;
}

.halaman_atas img{
	border-radius: 100%;
	padding-top:20px;
	height: 300px;
	width: 300px;
	display: block;
	margin-top:20px;
	margin-left:420px;
}


.container {
	margin-top: 100px;
	width: 100%;
	float:left;
	padding : 10px;
	}

#box1{
	margin-left: 130px;
	height:500px;
	width: 25%;
	padding: 3px;
	float:left;
	margin-right: 60px;
	background-image: url('image/html.png');
}

#box2{
	height:500px;
	width: 25%;
	padding: 3px;
	float:left;
	margin-right: 60px;
	background-image: url('image/css3.png');
}

#box3{
	height:500px;
	width: 25%;
	padding: 3px;
	float:left;
	margin-right: 20px;
	background-image: url('image/js.png');
}
.container h1{
	text-align: center;
	padding:10px;
	font-size: 60px;
	margin-right:40px;
}

.container img{
	width: 350px;
	height: 350px;
	margin-right:100px;
	}
.story {
	padding: 80px 0 0 0;
	position: relative;
	width: 350px;
}

.contact{
	width: 100%;
	padding:10px;
}


.contact h1{
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 100px;

	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
}

.contact img{
width: 150px;
padding:3px;
}

.gabungan{
	margin-left: 550px;
	margin-top: 30px;
}

footer{
	width: 100%;
	background-color: black;
	padding:10px;
	}

footer h3{
	color:white;
	margin-right: 80px;
	text-align: center;
}
